@font-face {
	font-family: 'Mont-Heavy';
	src: url('/fonts/Mont-Heavy.otf');
}

.logo {
	cursor: pointer;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: #15202b;
}

.leftSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 23vw;
	padding: 25px 0px 25px 50px;
}

.middleSection {
	height: 100vh;
	width: 45vw;
	border: rgba(114, 131, 148, 0.455) solid;
	border-width: 0px 1px 0px 1px;
	overflow: scroll;
}

.middleSection::-webkit-scrollbar {
	background: transparent;
	width: 0px;
}

.rightSection {
	height: 100vh;
	width: 32vw;
}

.userSection {
	display: flex;
	align-items: center;
}

.avatar {
	border-radius: 50%;
}

.userInfo {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
	margin-left: 12px;
}

.name {
	margin-right: 5px;
	font-size: 15px;
	font-family: 'Mont-Heavy';
	margin-bottom: 0;
}

.username {
	font-size: 15px;
	color: rgb(114, 131, 148);
}

.logout {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 75px;
	background-color: transparent;
	border: 1px rgb(114, 131, 148) solid;
	border-radius: 40px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: 600;
	cursor: pointer;
	margin-top: 10px;
}

.logout:hover {
	background-color: #24374a;
}

.title {
	font-size: 22px;
	font-weight: 700;
	margin: 20px;
}

.createSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
}

.validatePweet {
	width: 80%;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.input {
	width: 85%;
	height: 34px;
	min-height: 34px;
	max-height: 84vh;
	background-color: transparent;
	border-width: 0px 0px 1px 0px;
	font-size: 18px;
	font-weight: 500;
	font-family: Geneva, sans-serif;
}

.input:focus {
	outline: none;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 90px;
	border: none;
	border-radius: 40px;
	font-weight: 600;
	cursor: pointer;
	background-color: #409bf1;
	font-family: Verdana, Geneva, sans-serif;
}

.button:hover {
	background-color: #3384cf;
}

.charCount {
	margin: 0;
	margin-right: 12px;
	font-family: Geneva, sans-serif;
	font-size: 12px;
}
